#home {
    margin-top: 78px;
    position: relative;
    width:100vw; /* or whatever width you want. */
    height: 100vh;
    background-image: url(media/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

nav {
    background-color: #1F4E5F;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer {
    background-color: #1F4E5F;
    overflow: hidden;
    width: 100%;
    margin: 0em;
}

nav > a > img {
    height: 50px;
    display: inline;
    line-height: 2em;
    margin-left: 1em;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: .5em;

}

body {
    margin: auto;
}

nav ul {
    display: inline;
    float: right;
    margin-right: 1em;
    margin-bottom: 0em;
}

footer ul {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 2.5em;
}

footer ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 2.5em;p[
}

nav > ul > li > a {
    font-family: arial;
    font-weight: bold;
    color: white;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

footer > ul > li > a {
    font-family: arial;
    font-weight: bold;
    color: white;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
